<div class="ui reply form segment">
  <%= form_for([@post, @post.comments.build]) do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :context %>
      <%= f.text_area :context %>
    </div>

    <%= f.submit class: 'ui purple button disabled', id: 'reply-post' %>
  <% end %>
</div>
