
<div class="ui grid">
  <div class="three wide column">
    <div class="ui right floated small rounded image">
      <%= link_to cl_image_tag(@user.avatar, :width=>300, :height=>400, :crop=>"crop", :gravity=>"face", :secure=>true)%>
      <div class="ui compact segment">
        <div class="ui header">
          <h2> <%= @user.name %> </h2>
          <h4> <%= @user.email %> </h4>
        </div>
        <% if @current_user == @user %>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'ui button' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui three column grid">
      <% @user.posts.each do |p| %>
      <div class="column">

        <div class="ui centered card">

          <div class="extra content">
            <div class="right floated meta"><%= time_ago_in_words(p.created_at) %></div>
            <%= link_to cl_image_tag(p.user.avatar, :width=>300, :height=>300, :crop=>"crop", :gravity=>"face", :secure=>true), user_path(p.user), class: "ui avatar image"%> <%= link_to p.user.name, user_path(p.user) %>
          </div>

          <div class="ui image">
            <%= link_to cl_image_tag(p.image, :width=>320, :height=>240, :crop=>"scale", :secure=>true), post_path( p )%>
          </div>

          <div class="content">
            <span class="right floated">
              <i class="heart outline like icon"></i>
              <%= p.get_upvotes.size %> likes
            </span>

            <i class="comment icon"></i>
            <%= pluralize(p.comments.count, "Comment") %>
          </div>

        </div>

        <div class="ui container"></div>

      </div>
      <% end %>
    </div>
  </div>
</div>
