<div class="ui container segment">
  <div class="image">
    <%= cl_image_tag(@post.image, class: "ui centered rounded image")  %>
  </div>
  <div class="ui divider"></div>

  <!-- <div class="ui four bottom attached buttons"> -->

  <div class="content">
    <a href="" class="author"></a>
  </div>
  <%= image_tag(@post.user.avatar, class: "ui avatar image") %>
  <%= @post.user.name %>

  <span class="date">
    <%= time_ago_in_words(@post.created_at) %> ago
  </span>




    <div class="ui labeled button" tabindex="0">
      <div class="ui olive fluid button">
        <%= link_to like_post_path(@post), method: :get, remote: true, class: 'like_post' do %>
          <% if @current_user.voted_for? @post %>
            <i id="heart-icon" class="heart icon"></i> Like
          <% else %>
            <i id="heart-icon" class="heart outline icon"></i> Like
          <% end %>
        <% end %>
      </div>

      <a id="like-counts" class="ui basic olive left pointing label">
        <%= @post.get_upvotes.size %>
      </a>
    </div>



    <%= link_to "Create One", new_post_path, class: 'ui olive basic button' %>

    <% if @current_user == @post.user %>
      <%= link_to "Delete", post_path(@post), method: :delete, data:{confirm: 'Are you sure?'}, class:'ui orange basic button' %>
    <% end %>

  <!-- </div> -->
</div>

<div class="ui container segment">
  <h2 class="ui dividing header">
    <%= pluralize(@post.comments.count, "Comment") %>
  </h2>
  <%= render @post.comments %>
</div>

<div class="ui olive container segment">
  <h3>Add a Comment:</h3>
  <%= render 'comments/form' %>
</div>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5965f36bf26d0d08"></script>
