<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>


  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <div class="" style="height:10px"></div>

    <div class="ui container">
      <div class="ui secondary menu">
        <%= button_to "Gallery", posts_path, class: 'ui inverted purple button item' %>
        <div class="right menu">
          <% unless @current_user.present? %>
            <%= button_to "Login", login_path, class: 'ui teal basic button item' %>
            <%= button_to "Signup", new_user_path, class: 'ui teal basic button item' %>
          <% else %>
          <div class="item">
            Welcome,
            <%= link_to @current_user.name, user_path(@current_user) %>
          </div>
            <%= button_to "Logout", login_path, :method => :delete, class: 'ui teal basic button item' %>
          <% end %>
        </div>
      </div>
    </div>



      <%= yield %>


  </body>
</html>
