<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>


  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <div class="" style="height:10px"></div>

    <nav>

      <div class="ui container">
        <div class="ui secondary menu">
          <%= button_to "Gallery", posts_path, :method => :get, class: 'ui inverted purple button item' %>
          <div class="right menu">


            <!-- right pointing dropdown -->
            <div class="ui up pointing dropdown icon button">
              <i class="idea icon"></i>
              <div class="menu">

                  <% unless @current_user.present? %>
                    <div class="item">
                      <%= link_to login_path do %>
                        <i class="user icon"></i>
                        Login
                      <% end %>
                    </div>
                    <div class="item">
                      <%= link_to new_user_path do %>
                        <i class="edit icon"></i>
                        Signup
                      <% end %>
                    </div>

                  <% else %>
                    <div class="item">
                      <%= link_to cl_image_tag(@current_user.avatar, :width=>300, :height=>300, :crop=>"crop", :gravity=>"face", :secure=>true), user_path(@current_user), class: "ui avatar image"%> <%= link_to @current_user.name, user_path(@current_user) %>
                    </div>
                    <div class="item">
                      <%= link_to login_path, :method => :delete do %>
                        <i class="power icon"></i>
                        Logout
                      <% end %>
                    </div>
                    <div class="item">
                      <i class="send icon"></i>
                      I am place holder
                    </div>

                  <% end %>

                <div class="divider"></div>

                <div class="item">
                  <i class="send icon"></i>
                  Give Us feedback
                </div>

              </div>
            </div>



          </div>
        </div>
      </div>



    </nav>


    <%= yield %>


  </body>
</html>
